<aside class="lateralMenu">
	<ul class="lateralMenu__container">
		<li class="lateralMenu__item">
			<a
				routerLink="/account"
				routerLinkActive="active"
				[routerLinkActiveOptions]="{ exact: true }"
				class="lateralMenu__link"
				>Mi Cuenta
				<img src="../../../../assets//images/icons/chevron-right.svg" />
			</a>
		</li>
		<li class="lateralMenu__item">
			<a
				routerLink="/account/orders"
				routerLinkActive="active"
				class="lateralMenu__link"
				>Historial de Pedidos
				<img src="../../../../assets//images/icons/chevron-right.svg" />
			</a>
		</li>
		<li class="lateralMenu__item">
			<a class="lateralMenu__link" (click)="logout()"
				>Cerrar Sesión
				<img src="../../../../assets//images/icons/chevron-right.svg" />
			</a>
		</li>
	</ul>
</aside>
