<div class="account">
	<app-lateral-menu></app-lateral-menu>

	<main class="account__container">
		<h1 class="account__title">Mi Cuenta</h1>

		<h2 class="account__subtitle">Detalles de la empresa</h2>

		<p *ngIf="isEditAccount" class="account__mandatory">
			* Campos obligatorios
		</p>

		<div class="account__dataContainer" *ngIf="storeUser && !isEditAccount">
			<div>
				<p class="account__bold">
					{{ storeUser.name }}
				</p>
				<p>{{ storeUser.contactName }}</p>
				<p *ngIf="storeUser.address">{{ storeUser.address }}</p>
				<p *ngIf="storeUser.city">{{ storeUser.city }}</p>
				<p *ngIf="storeUser.postCode">
					{{ storeUser.postCode.toString().padStart(5, "0") }}
				</p>
			</div>

			<div>
				<p *ngIf="storeUser.phone">
					<span class="account__bold">Teléfono: </span> {{ storeUser.phone }}
				</p>
				<p>
					<span class="account__bold">Correo electrónico: </span>
					{{ storeUser.email }}
				</p>
				<p>
					<span class="account__bold"
						>Códigos postales a los cuales se realizan envíos:
					</span>
					<span
						*ngFor="let postCode of storeUser.postCodesServing; let i = index"
					>
						<span *ngIf="i < storeUser.postCodesServing.length - 1"
							>{{ postCode.toString().padStart(5, "0") }},
						</span>
						<span *ngIf="i === storeUser.postCodesServing.length - 1">{{
							postCode.toString().padStart(5, "0")
						}}</span>
					</span>
				</p>
			</div>
		</div>

		<form
			*ngIf="isEditAccount"
			class="account__form"
			[formGroup]="accountForm"
			(ngSubmit)="handleForm()"
		>
			<label class="account__label">
				Nombre de la Empresa *
				<input
					class="account__input"
					type="text"
					formControlName="name"
					required
				/>
				<span *ngIf="name.touched && name.errors" class="account__error">
					Debes especificar el nombre de tu empresa.
				</span>
			</label>
			<label class="account__label">
				Persona de contacto *
				<input
					class="account__input"
					type="text"
					formControlName="contactName"
					required
				/>
				<span
					*ngIf="contactName.touched && contactName.errors"
					class="account__error"
				>
					Debes especificar la persona de contacto en la empresa.
				</span>
			</label>
			<label class="account__label">
				Correo electónico *
				<input
					class="account__input"
					type="email"
					formControlName="email"
					required
				/>
				<span
					*ngIf="email.touched && email.errors?.['required']"
					class="account__error"
				>
					Debes especificar tu correo electrónico.
				</span>
				<span
					*ngIf="email.touched && email.errors?.['pattern']"
					class="account__error"
				>
					Debes especificar un correo electrónico en formato válido.
				</span>
			</label>
			<label class="account__label">
				Teléfono *
				<input
					class="account__input"
					type="text"
					formControlName="phone"
					min="0"
					pattern="\d*"
					required
				/>
				<span *ngIf="phone.touched && phone.errors" class="account__error"
					>Debes especificar tu teléfono en formato numérico.</span
				>
			</label>
			<label class="account__label">
				Dirección *
				<input
					class="account__input"
					type="text"
					formControlName="address"
					required
				/>
				<span *ngIf="address.touched && address.errors" class="account__error"
					>Debes especificar la dirección de la empresa.</span
				>
			</label>
			<label class="account__label">
				Código Postal *
				<input
					class="account__input"
					type="text"
					formControlName="postCode"
					min="0"
					max="99999"
					maxlength="5"
					pattern="\d*"
					required
				/>
				<span *ngIf="postCode.touched && postCode.errors" class="account__error"
					>Debes especificar un código postal de 5 números.</span
				>
			</label>

			<label class="account__label">
				Ciudad *
				<input
					class="account__input"
					type="text"
					formControlName="city"
					required
				/>
				<span *ngIf="city.touched && city.errors" class="account__error"
					>Debes especificar la ciudad de la empresa.</span
				>
			</label>

			<label class="account__label" id="postCodesServing">
				Códigos postales a los cuales realizarás envíos a domicilio, separados
				por una coma *
				<textarea
					class="account__input"
					type="text"
					formControlName="postCodesServing"
					required
				>
				</textarea>
				<span
					*ngIf="postCodesServing.touched && postCodesServing.errors"
					class="account__error"
				>
					Códigos postales de 5 dígitos sin espacios separados por coma.
				</span>
			</label>

			<label class="account__label" id="password">
				Contraseña
				<input
					class="account__input"
					type="password"
					formControlName="password"
					minlength="6"
				/>
				<span
					*ngIf="password.touched && password.errors?.['minlength']"
					class="account__error"
				>
					La contraseña debe tener un mínimo de 6 carácteres.
				</span>
			</label>

			<label class="account__label hidden" id="password2">
				Confirma tu contraseña
				<input
					class="account__input"
					type="password"
					formControlName="password2"
				/>
				<span
					*ngIf="password2.touched && password2.errors?.['required']"
					class="account__error"
				>
					Debes confirmar tu contraseña.
				</span>
				<span
					*ngIf="password.touched && accountForm.errors?.['notSame']"
					class="account__error"
				>
					Las contraseñas deben coincidir.
				</span>
			</label>

			<div class="account__buttonContainer">
				<button
					type="button"
					class="account__button secondary"
					(click)="isEditAccount = false; this.error = false"
				>
					Cancelar
				</button>
				<button type="submit" class="account__button primary">
					<span>Guardar</span>
					<img src="../../../../assets/images/icons/tail-spin.svg" />
				</button>
				<div *ngIf="error" class="account__serverError">
					Ha ocurrido un error y no se han guardado los cambios. Por favor
					inténtalo nuevamente.
				</div>
			</div>
		</form>

		<button
			*ngIf="!isEditAccount"
			class="account__button primary"
			(click)="initForm()"
		>
			Editar detalles
		</button>

		<a class="account__link" (click)="logout()">
			<span>Cerrar Sesión</span>
			<img src="../../../../assets//images/icons/chevron-right.svg" />
		</a>
	</main>

	<app-sticky-menu></app-sticky-menu>
</div>
