<div class="categorySlider">
	<div class="categorySlider__sliderContainer">
		<div class="categorySlider__item">
			<picture class="categorySlider__image">
				<source
					type="image/webp"
					srcset="/assets/images/categories/sales.webp"
				/>
				<img src="/assets/images/categories/sales.jpg" />
			</picture>
			<a href="" class="categorySlider__link">Ofertas</a>
		</div>
		<div class="categorySlider__item">
			<picture class="categorySlider__image">
				<source
					type="image/webp"
					srcset="/assets/images/categories/sales.webp"
				/>
				<img src="/assets/images/categories/sales.jpg" />
			</picture>
			<a href="" class="categorySlider__link">Ofertas</a>
		</div>
		<div class="categorySlider__item">
			<picture class="categorySlider__image">
				<source
					type="image/webp"
					srcset="/assets/images/categories/sales.webp"
				/>
				<img src="/assets/images/categories/sales.jpg" />
			</picture>
			<a href="" class="categorySlider__link">Ofertas</a>
		</div>
		<div class="categorySlider__item">
			<picture class="categorySlider__image">
				<source
					type="image/webp"
					srcset="/assets/images/categories/sales.webp"
				/>
				<img src="/assets/images/categories/sales.jpg" />
			</picture>
			<a href="" class="categorySlider__link">Ofertas</a>
		</div>
		<div class="categorySlider__item">
			<picture class="categorySlider__image">
				<source
					type="image/webp"
					srcset="/assets/images/categories/sales.webp"
				/>
				<img src="/assets/images/categories/sales.jpg" />
			</picture>
			<a href="" class="categorySlider__link">Ofertas</a>
		</div>
		<div class="categorySlider__item">
			<picture class="categorySlider__image">
				<source
					type="image/webp"
					srcset="/assets/images/categories/sales.webp"
				/>
				<img src="/assets/images/categories/sales.jpg" />
			</picture>
			<a href="" class="categorySlider__link">Ofertas</a>
		</div>
	</div>
</div>
