<header class="header" *ngIf="router.url !== '/home'">
	<img
		src="../../../assets/images/icons/menu-hamburger.svg"
		alt="Ver el menú"
		class="header__menuIcon"
		(click)="openModal()"
		*ngIf="!router.url.includes('login') && !router.url.includes('register')"
	/>

	<a class="header__logo" routerLink="/home">
		<img src="../../../assets/images/proxima-logo.svg" alt="Próxima" />
	</a>

	<nav class="header__navigation">
		<div class="header__navigationClose">
			<img
				class="header__closeIcon"
				alt="Cerrar menú"
				src="../../../assets/images/icons/cross.svg"
				(click)="closeModal()"
			/>
		</div>
		<ul
			class="header__categories"
			*ngIf="!router.url.includes('login') && !router.url.includes('register')"
			[class.dashboard]="router.url.includes('dashboard')"
		>
			<ng-container *ngIf="!router.url.includes('dashboard')">
				<li
					class="header__category"
					routerLink="/products/sales"
					routerLinkActive="active"
				>
					<a
						routerLink="/products/sales"
						routerLinkActive="active"
						(click)="closeModal()"
						>Ofertas</a
					>
				</li>
				<li
					class="header__category"
					*ngFor="let category of categoryState$.categories"
					routerLink="/products/{{ category.path }}"
					(click)="closeModal()"
					routerLinkActive="active"
				>
					<a routerLink="/products/{{ category.path }}">{{ category.name }}</a>
				</li>
			</ng-container>
			<ng-container *ngIf="router.url.includes('dashboard')">
				<li
					class="header__category"
					routerLink="/dashboard"
					routerLinkActive="active"
				>
					<a
						routerLink="/dashboard$"
						routerLinkActive="active"
						(click)="closeModal()"
						>Inicio</a
					>
				</li>
				<li
					class="header__category"
					routerLink="/dashboard/product"
					routerLinkActive="active"
				>
					<a
						routerLink="/dashboard/product"
						routerLinkActive="active"
						(click)="closeModal()"
						>Añadir Producto</a
					>
				</li>
				<li
					class="header__category"
					routerLink="/dashboard/orders"
					routerLinkActive="active"
				>
					<a
						routerLink="/dashboard/orders"
						routerLinkActive="active"
						(click)="closeModal()"
						>Pedidos</a
					>
				</li>
			</ng-container>
			<li class="header__category mobileOnly" (click)="closeModal()">
				<a routerLink="/account"
					>Mi Cuenta
					<img
						class="header__userIcon"
						alt="Mi cuenta"
						src="../../../assets/images/icons/user.svg"
						routerLink="/account"
				/></a>
			</li>
			<li class="header__category mobileOnly" (click)="closeModal()">
				<a href="">Atención al Cliente</a>
			</li>
		</ul>
	</nav>

	<div
		class="header__actions"
		*ngIf="
			!router.url.includes('dashboard') &&
			!router.url.includes('login') &&
			!router.url.includes('register')
		"
	>
		<a class="header__actionContainer" routerLink="/account">
			<img
				class="header__userIcon"
				alt="Mi cuenta"
				src="../../../assets/images/icons/user.svg"
				routerLink="/account"
			/>
		</a>

		<a
			routerLink="/cart"
			class="header__actionContainer"
			*ngIf="!router.url.includes('dashboard')"
		>
			<img
				class="header__cartIcon"
				alt="Cesta de Compras"
				src="../../../assets/images/icons/cart.svg"
			/>
			<span *ngIf="cartCount > 0" class="header__cartItems">
				{{ cartCount }}
			</span>
		</a>
	</div>

	<div
		*ngIf="
			router.url.includes('dashboard') ||
			router.url.includes('login') ||
			router.url.includes('register')
		"
	>
		<a class="header__actionContainer" routerLink="/account">
			<img
				class="header__userIcon"
				alt="Mi cuenta"
				src="../../../assets/images/icons/user.svg"
			/>
		</a>
	</div>

	<a routerLink="/help" class="header__support">Atención al Cliente</a>
</header>

<div class="modalOverlay"></div>
