<main class="home">
	<div class="home__topLinksContainer">
		<a routerLink="/register" class="home__topLink">Crear Cuenta</a>
		<a routerLink="/login" class="home__topLink">Iniciar Sesión</a>
	</div>
	<img
		src="../../../assets/images/proxima-logo.svg"
		alt="Proxima Stores"
		class="home__logo"
	/>
	<h1 class="home__title">
		Encuentra todos los productos de tus tiendas de proximidad en un solo lugar.
	</h1>
	<p class="home__subTitle">
		Para empezar solo debes introducir tu código postal aquí:
	</p>

	<app-postcode-search></app-postcode-search>
</main>
