<footer
	class="footer"
	*ngIf="router.url !== '/'"
	[class.dashboard]="router.url.includes('dashboard')"
>
	<div class="footer__container">
		<div class="footer__links">
			<a routerLink="/products">Inicio</a>
			<a href="">Atención al Cliente</a>
			<a href="">Contacto</a>
			<a href="">Mi Cuenta</a>
			<a href="">Política de Privacidad</a>
		</div>

		<a class="footer__logo" routerLink="/products">
			<img src="../../../assets/images/proxima-logo.svg" alt="Proxima Stores" />
		</a>
	</div>
</footer>
