<div class="productCard" routerLink="/dashboard/{{ product._id }}">
	<img class="productCard__image" src="{{ product.image }}" />
	<div class="productCard__content">
		<p class="productCard__brand">{{ product.brand }}</p>
		<a
			routerLink="/dashboard/product/{{ product._id }}"
			class="productCard__productName"
			>{{ product.name }}</a
		>
		<p *ngIf="!product.isOffer" class="productCard__price">
			{{ product.price }} €
		</p>
		<p *ngIf="product.isOffer" class="productCard__price">
			{{ product.price }} €
			<span class="productCard__previousPrice"
				>{{ product.previousPrice }} €
			</span>
		</p>
	</div>
</div>
