<aside class="lateralMenu">
	<ul class="lateralMenu__container">
		<li class="lateralMenu__item">
			<a
				routerLink="/dashboard"
				routerLinkActive="active"
				[routerLinkActiveOptions]="{ exact: true }"
				class="lateralMenu__link"
				>Inicio
				<img src="../../../../assets//images/icons/chevron-right.svg" />
			</a>
		</li>
		<li class="lateralMenu__item">
			<a
				routerLink="/dashboard/product"
				routerLinkActive="active"
				class="lateralMenu__link"
				>Añadir Producto
				<img src="../../../../assets//images/icons/chevron-right.svg" />
			</a>
		</li>
		<li class="lateralMenu__item">
			<a
				routerLink="/dashboard/orders"
				routerLinkActive="active"
				class="lateralMenu__link"
				>Pedidos
				<img src="../../../../assets//images/icons/chevron-right.svg" />
			</a>
		</li>
		<li class="lateralMenu__item">
			<a
				routerLink="/dashboard/account"
				routerLinkActive="active"
				class="lateralMenu__link"
				>Mi Cuenta
				<img src="../../../../assets//images/icons/chevron-right.svg" />
			</a>
		</li>
	</ul>
</aside>
