/*
 * Font styles
 */
@mixin titleH1 {
	font-family: $font-family-title;
	font-weight: 800;
	font-size: 1.25rem;
	line-height: 2rem;
	@media (min-width: $desktop) {
		font-size: 1.5rem;
		line-height: 2.5rem;
	}
}

@mixin titleH2 {
	font-family: $font-family-title;
	font-weight: 800;
	font-size: 1.125rem;
	line-height: 1.875rem;
	@media (min-width: $desktop) {
		font-size: 1.25rem;
		line-height: 2rem;
	}
}

@mixin textNormal {
	font-family: $font-family-regular;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.5rem;
}

@mixin textNormalBold {
	font-family: $font-family-regular;
	font-weight: 700;
	font-size: 1rem;
	line-height: 1.5rem;
}

@mixin textUppercase {
	font-family: $font-family-regular;
	font-weight: 700;
	font-size: 0.75rem;
	line-height: 1.313rem;
	letter-spacing: 1px;
	text-transform: uppercase;
	@media (min-width: $desktop) {
		font-size: 0.875rem;
		line-height: 1.313rem;
	}
}

@mixin textSubtitle {
	font-family: $font-family-regular;
	font-weight: 400;
	font-size: 1.125rem;
	line-height: 1.875rem;
	@media (min-width: $desktop) {
		font-size: 1.25rem;
		line-height: 2rem;
	}
}

@mixin textSubtitleBold {
	font-family: $font-family-regular;
	font-weight: 700;
	font-size: 1.125rem;
	line-height: 1.875rem;
	@media (min-width: $desktop) {
		font-size: 1.25rem;
		line-height: 2rem;
	}
}

@mixin textSmall {
	font-family: $font-family-regular;
	font-weight: 400;
	font-size: 0.875rem;
	line-height: 1.5rem;
}

@mixin textProductCard {
	font-family: $font-family-regular;
	font-weight: 400;
	font-size: 0.875rem;
	line-height: 1rem;
}

@mixin textErrorSmall {
	font-family: $font-family-regular;
	font-weight: 400;
	font-size: 0.7rem;
	color: $color-danger;
}

@mixin textPaginationSmall {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: 400;
	font-size: 0.875rem;
}

@mixin textLink {
	color: $color-black;
	cursor: pointer;
	transition: color 0.15s ease-in;
	text-decoration: none;
	&:hover {
		color: $color-primary;
	}
}
/*
 * Shadows
 */
@mixin cardShadow() {
	box-shadow: $shadow;
	transition: box-shadow 0.3s ease-in-out;
	&:hover {
		box-shadow: $shadow-hover;
	}
}
